USE [NSDC_Skills]
GO
/****** Object:  Table [dbo].[NSDC_TC_ALLOCATED_TARGET]    Script Date: 8/21/2018 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NSDC_TC_ALLOCATED_TARGET](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TC_SDMS_ID] [nvarchar](100) NULL,
	[TC_SMART_ID] [nvarchar](100) NULL,
	[TP_Name] [nvarchar](500) NULL,
	[TC_Name] [nvarchar](500) NULL,
	[TP_SPOC_name] [nvarchar](200) NULL,
	[TC_SPOC_Email_Id] [nvarchar](100) NULL,
	[TC_State] [nvarchar](100) NULL,
	[TC_District] [nvarchar](100) NULL,
	[Parliamentary_Name] [nvarchar](100) NULL,
	[Full_Address] [nvarchar](max) NULL,
	[Centre_Type] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[NSDC_TC_ALLOCATED_TARGET] ON 

INSERT [dbo].[NSDC_TC_ALLOCATED_TARGET] ([Id], [TC_SDMS_ID], [TC_SMART_ID], [TP_Name], [TC_Name], [TP_SPOC_name], [TC_SPOC_Email_Id], [TC_State], [TC_District], [Parliamentary_Name], [Full_Address], [Centre_Type]) VALUES (2, N'12781', N'TC041202', N'AISECT Limited', N'AISECT PMKK RAIGARH', N'Saurabh Pandey', N'saurabh.pandey@aisect.org', N'Chhattisgarh', N'Raigarh', N'Raigarh', N'Pahad Mandir Road, Infront of Mission Hospital,Raigarh', N'PMKK')
INSERT [dbo].[NSDC_TC_ALLOCATED_TARGET] ([Id], [TC_SDMS_ID], [TC_SMART_ID], [TP_Name], [TC_Name], [TP_SPOC_name], [TC_SPOC_Email_Id], [TC_State], [TC_District], [Parliamentary_Name], [Full_Address], [Centre_Type]) VALUES (3, N'12226', N'TC041461', N'Ashpra Skills Private Limited', N'PMKK Simdega', N'Renu Sangwan', N'renu.sangwan@ashpraskills.com', N'Jharkhand', N'Simdega', N'Khunti', N'Plot No-278, Prince Chowk, Simdega-835223', N'PMKK')
INSERT [dbo].[NSDC_TC_ALLOCATED_TARGET] ([Id], [TC_SDMS_ID], [TC_SMART_ID], [TP_Name], [TC_Name], [TP_SPOC_name], [TC_SPOC_Email_Id], [TC_State], [TC_District], [Parliamentary_Name], [Full_Address], [Centre_Type]) VALUES (4, N'12747', N'TC041927', N'Ashpra Skills Private Limited', N'PMKK -SAHIBGANJ', N'Renu Sangwan', N'renu.sangwan@ashpraskills.com', N'Jharkhand', N'Sahibganj', N'Rajmahal', N'Mandap Palace, Infront of Electricity Board Office , Banjhi Road, Sahebganj-816109', N'PMKK')
GO
SET IDENTITY_INSERT [dbo].[NSDC_TC_ALLOCATED_TARGET] OFF
